body {
    overflow: hidden;
    margin: 0;
    background-color: black;
}

img {
    -webkit-user-drag: none;
}

.minimap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
