body {
    margin: 0;
    overflow: hidden;
    font-family: "Segoe UI";

    user-select: none;
}

body.dark > .panel {
    background-color: #202836;
    color: rgb(225, 225, 225);
}

.panel {
    position: absolute;
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px 0px;

    display: flex;
    flex-direction: column;
}

.panel-body {
    overflow-y: auto;
    flex: 1;
}

.panel-body::-webkit-scrollbar {
    width: 8px;
}
.panel-body::-webkit-scrollbar-track {
    background: transparent;
}

.panel-body::-webkit-scrollbar-thumb {
    background: #b7b7b7;
}

.panel-body::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;
}

.yt-video-panel {
    overflow: hidden;
}

.yt-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-overlay:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.play-overlay:hover .yt-play {
    opacity: 1;
}

.yt-play {
    fill: white;
    width: 20px;
    opacity: 0;
}

.panel-dragger {
    position: absolute;
    bottom: 0;
    right: 0;
    /* height: 10px;
    width: 10px; */
    cursor: nwse-resize;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid grey;
    rotate: -45deg;
    translate: 8px 2px;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}
.panel:hover .panel-dragger {
    opacity: 1;
}

.panel-resizing:hover .panel-dragger {
    border-top: 12px solid red;
}

/*          */
/* Playlist */
/*          */

.playlist-title {
    font-weight: bold;
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid rgb(226, 226, 226);
    cursor: grab;

    transition: background-color 200ms ease-in-out;
}

body.dark .playlist-title {
    border-bottom: 1px solid rgb(89, 89, 89);
}
body.dark .playlist-item {
    border-bottom: 1px solid rgb(89, 89, 89);
}
body.dark .playlist-title:hover {
    background-color: rgb(53, 53, 53);
}
body.dark .playlist-item:hover {
    background-color: rgb(53, 53, 53);
}

.panel-grabbing .playlist-title {
    cursor: grabbing;
}

.panel-resizing {
    opacity: 0.5;
}

.playlist-title:hover {
    background-color: rgb(237, 237, 237);
}

.playlist-item {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: 14px;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.playlist-item:hover {
    background-color: rgb(234, 234, 234);
}

.playlist-item-image {
    width: 66px;
    height: 48px;
    object-fit: cover;
    margin-right: 8px;
}

/*             */
/*   NAVBAR    */
/*             */

.navbar {
    height: 30px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);

    display: flex;
    /* gap: 48px; */
    justify-content: center;
    align-items: stretch;

    transition: height 200ms ease-in-out;
}

.navbar:hover {
    height: 58px;
}

body.dark .navbar {
    background-color: #151a23;
}

.navbar-item:first-of-type {
    margin-left: auto;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(162, 168, 177);

    border-bottom: 1px solid transparent;
    cursor: pointer;
    margin: 0 5px;
    padding: 0 19px;

    padding-top: 1px;
    transition:
        border-bottom-width 200ms ease-in-out,
        padding-top 200ms ease-in-out;
}

.navbar-item:hover {
    color: white;
}

.navbar-item.active {
    color: rgb(85, 150, 230);
    border-bottom: 1px solid rgb(85, 150, 230);
}

.navbar:hover .navbar-item {
    border-bottom-width: 4px;
    padding-top: 4px;
}

.theme-toggler {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: 20px;

    padding: 10px;
    align-self: center;
    border-radius: 30px;

    opacity: 0;
    transition: opacity 200ms ease-in-out;

    cursor: pointer;
}

.navbar:hover .theme-toggler {
    opacity: 1;
}

.theme-toggler:hover {
    background-color: rgb(93, 93, 93);
}

.theme-toggler:active {
    background-color: rgb(126, 126, 126);
}

.theme-toggler:hover svg {
    fill: white;
}

.theme-toggler svg {
    width: 15px;
    fill: rgb(156, 156, 156);
}

/*                    */
/*       Player       */
/*                    */

.mini-player {
    position: fixed;
    right: 15px;
    bottom: 65px;
    width: 400px;
    height: 150px;
    z-index: 100;
}
